[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
streamlit = "*"
langchain = "*"
langchain-community = "*"
langchain-core = "*"
python-dotenv = "*"
langchain-huggingface = "*"
langchain-qdrant = "*"
langchain-ollama = "*"
onnx = "==1.16.1"
qdrant-client = "*"
unstructured = {extras = ["pdf"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
